# General Files
**/.pmd
**/.project
**/*.log
**/*.db
*.lock
*.DS_Store
*.swp
*.out
*.log
/*.txt
/*.json
/*.csv
/*.xml
*.iml
*.class

#java specific
**/.class
*.jar
*.war
*.ear
*.bak
*.classpath
*.project

#project ide-lang specific
project-root-directory/
.m2/
.idea/
build/*
dist/*
nbproject/*
target/*
**/node_modules/*
bower/*
bower_components/*

project-sub-directory/
/*/src/client/
/*/lib/
!/lib/*
*/build/
*/dist/
*/nbproject/
*/build-impl.xml
*/private/
*/project.properties
*/project.xml
*/test/
/*/build.xml
/bin
/tmp
/js/scrap/


# python - only include py files.
!py/
py/*
!py/*.py
