# https://wiki.archlinux.org/index.php/Wireless_network_configuration#Manual_wireless_connection_at_boot_using_systemd_and_dhcpcd
# Location, /etc/systemd/system/wireless.service
# e.g systemctl enable wireless.service

[Unit]
Description=Wireless network connectivity (wlan0)
Wants=network.target
Before=network.target
BindsTo=sys-subsystem-net-devices-wlan0.device
After=sys-subsystem-net-devices-wlan0.device

[Service]
Type=oneshot
RemainAfterExit=yes

ExecStart=/usr/bin/ip link set dev wlan0 up
ExecStart=/usr/bin/wpa_supplicant -B -i wlan0 -c /etc/wpa_supplicant/wpa_supplicant.conf
ExecStart=/usr/bin/dhcpcd wlan0
ExecStart=route add -net 71.57.239.0/24 gw 192.168.1.1

ExecStop=/usr/bin/ip link set dev wlan0 down

[Install]
WantedBy=multi-user.target
